<div class="buyNow container">
  <div class="details">
    
    <div class="mail1" >
      <label for="mail">EMAIL</label>
      <span *ngIf="mailEntered"><i class="fa fa-check" aria-hidden="true"></i></span>
      <div class="mailOption" *ngIf="viewMail" id="mail">
        <form (submit)="f.form.valid && continueToAddress()"  #f="ngForm" novalidate>
          <div style="float: left;">
            <input type="email"  class="form-control col-md-12 email" [(ngModel)]="mailId"  name="mailId" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email >
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div style="float: right;">
            <button class="btn btn-primary btn-sm">CONTINUE</button>
          </div>
        </form>
      </div>
      <div *ngIf="mailView">
        <div style="float:left">
          {{mailId}}
        </div>
        <div style="float:right;margin-right:2%">
          <button class="btn btn-primary btn-sm" (click)="changeMail()">CHANGE</button>
        </div>
      </div>
    </div>
    <div class="mail mailAdd">
        <label for="address">ADDRESS</label>
        <span *ngIf="addressEntered" ><i class="fa fa-check" aria-hidden="true"></i></span>
        <div class="inputOption add" *ngIf="addressView" id="address">
          <form  (ngSubmit)="continueToSummary()" [formGroup]="addAddress"  >
              <div class="row">
                <div class="form-group align">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" name="name" formControlName="name" [(ngModel)]="address.name"  id="name" class="form-control col-md-12" required />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">Name is required</div>
                </div>
                <div class="form-group align">
                    <label class="control-label" for="number">Phone Number</label>
                    <input type="text" name="number" formControlName="number" id="number" (keypress)="keyPress($event)" [(ngModel)]="address.phone" minlength=10 maxlength=10 class="form-control  required"/>
                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">Phone Number is required</div>
                    <span *ngIf="submitted && f.number.errors.minlength && (!f.number.errors)" class="invalid-feedback">Phone Number must be at least 10 digit</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group align">
                  <label class="control-label" for="Country">Country:</label>
                  <select *ngIf="getCountries()" formControlName="country" [(ngModel)]="address.selectedCountry" name="country" (change)="onSelectCountry($event.target.value)" class="form-control col-md-12 country" id="country" required>
                    <option value="0">Select Country</option>
                    <option *ngFor="let country of getCountries()" value={{country.id}} [selected]="address.selectedCountry==country.id" >{{country.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.country.errors" class="invalid-feedback">Country is required</div>
                </div>
                <div class="form-group align">
                  <label class="control-label" for="States">States:</label>
                  <select *ngIf="states" formControlName="state" [(ngModel)]="address.selectedState" name="state" (change)="onSelectState($event.target.value)" class="form-control col-md-12 state" id="state" required>
                      <option value="0">Select State</option>
                    <option *ngFor="let state of states" value= {{state.id}} [selected]="state.id==address.selectedState" >{{state.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.state.errors" class="invalid-feedback">State is required</div>
                </div>
              </div>
              <div class="row">
                <div class="form-group align">
                    <label class="control-label" for="City">City:</label>
                    <select class="form-control input-lg city" id="city" formControlName="city"  [(ngModel)]="address.selectedCity" name="city"  (change)="onSelectCity($event.target.value)" required>
                        <option *ngIf="!selectedState" value="0">Select City</option>
                        <option *ngFor="let city of cities" value= {{city.id}}>{{city.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">City is required</div>
                  </div>
                <div class="form-group align">
                    <label class="control-label" for="zip">Zip</label>
                    <input type="text" name="zip" formControlName="zip" (keypress)="zipPress($event)" [(ngModel)]="address.zip" minlength=6 maxlength=6 id="zip" class="form-control input-lg zip" required/>
                    <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">Zip Code is required</div>
                    <!-- <div *ngIf="submitted && f.zip.errors.minlength" class="invalid-feedback">Zip must be at least 6 characters</div> -->
                </div>
              </div>
              <div class="row">
                  <div class="form-group align">
                      <label class="control-label" for="address">Flat No,Street & City</label>
                      <input type="text" name="address" formControlName="street" id="address" [(ngModel)]="address.street" class="form-control input-lg col-md-12 " required/>
                      <div *ngIf="submitted && f.street.errors" class="invalid-feedback">Street is required</div>
                    </div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary" style="margin-left:3%;margin-bottom:4%" >CONTINUE</button>
              </div>  
            </form>
        </div>
        <div style="float:right;margin-right:3%" *ngIf="addressChange">
            <button class="btn btn-primary btn-sm" style="margin-top:8%" (click)="changeAddress()" >CHANGE</button>
          </div>
    </div>
    <div class="mail">
      <label for="summary">ORDER SUMMARY</label>
      <span *ngIf="orderCorrect" >
          <i class="fa fa-check" aria-hidden="true"></i>
          <span style="font-weight:bold;font-size:1em;padding-left:3%" >Amount Payable: &#x20B9;.{{total}}</span>
      </span>
      <div class="summary" *ngIf="orderView" id="summary">
        <div *ngFor="let mobile of mobiles;let i=index" class="buyingMobile" > 
          <div class="mobileImg">
              <img [src]="mobile.images[0]" class="buyImage" >
          </div>
          <div class="mobileDetails">
              <h6>{{mobile.name}} {{mobile.manufacturer}} ({{mobile.internal}} GB ROM)</h6>
              <span style="color:gray" >{{mobile.ram}} GB RAM</span>
              <h6>&#x20B9;. {{mobile.price * mobile.qty }}</h6>
          </div>
          <div class="qty">
              <button  (click)="decCount(i)" [disabled]="isZero" class="btn btn-default btn-sm form-control increaseBtn qtySpec"><span style="margin-left:-3px">-</span></button>
              <span class="qty qtySpec">{{mobile.qty}}</span>
              <button  (click)="incCount(i)" class="btn btn-default form-control btn-sm increaseBtn qtySpec"><span style="margin-left:-3px">+</span></button>
          </div>
        </div>
          <div class="form-group" style="margin-top:1em">
              <button class="btn btn-primary btn-sm"  (click)="continueToPayment()" >CONTINUE</button>
          </div>
      </div>
      <div style="float:right;margin-right:2%" *ngIf="changeOrder">
          <button class="btn btn-primary btn-sm" (click)="changeOrderFunc()" >CHANGE</button>
      </div>
    </div>
    <div class="mailPayment">
      <label for="payment">PAYMENT OPTION</label>
      <span *ngIf="paymentSucc" >
          <i class="fa fa-check" aria-hidden="true"></i>
          <h6>Order Comfirmed</h6>
      </span>
      <div class="payment" *ngIf="paymentView" id="payment">
          <div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="setRadio('cod')" value="option1" checked>
                  <label class="form-check-label" for="inlineRadio1">Cash On Delivery</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="setRadio('card')" value="option2" ngModel>
                  <label class="form-check-label" for="inlineRadio2">Credit/Debit Card </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" (click)="setRadio('banking')" value="option3" ngModel>
                  <label class="form-check-label" for="inlineRadio3">Net Banking</label>
                </div>
          </div>
          <div *ngIf="isSelected('card')" class="card1">
            <div class="row">
              <div class="form-group align">
                  <label for="owner">Owner</label>
                  <input type="text" class="form-control" placeholder="Card Holder Name" id="owner">
              </div>
              <div class="form-group align" id="card-number-field">
                  <label for="cardNumber">Card Number</label>
                  <input type="text" (keypress)="keyPress($event)" class="form-control" minlength=16 maxlength=16  id="cardNumber">
              </div>
            </div>
            <div class="row">
              <div class="form-group align">
                <div class="arrange ">
                  <label for="cvv">CVV</label>
                  <input type="text" (keypress)="keyPress($event)" minlength=3  maxlength=3 class="form-control col-md-6" id="cvv">
                </div>
              </div>
              <div class="form-group align">
                <div class="arrange align">
                  <label for="exp">Expiration Date</label>
                  <div id="exp">
                  <select class="form-control arrange col-md-6">
                      <option value="01">January</option>
                      <option value="02">February </option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">August</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                  </select>
                  <select class="form-control arrange col-md-6">
                      <option value="16"> 2016</option>
                      <option value="17"> 2017</option>
                      <option value="18"> 2018</option>
                      <option value="19"> 2019</option>
                      <option value="20"> 2020</option>
                      <option value="21"> 2021</option>
                  </select>                  
                </div>
                </div>
              </div>
            </div>
              <div class="form-group image" id="credit_cards">
                  <img src="assets/images/visa.jpg" id="visa">
                  <img src="assets/images/mastercard.jpg" id="mastercard">
                  <img src="assets/images/amex.jpg" id="amex">
              </div>             
          </div>
          <div *ngIf="isSelected('banking')">
            <div class="form-group col-md-6">
              <label for="user">User Name</label>
              <input type="text" class="form-control" id="user" placeholder="User Name"/>
            </div>
            <div class="form-group col-md-6">
              <label for="pwd">Password</label>
              <input type="text" class="form-control" id="pwd" placeholder="Password"/>
            </div>
          </div>
      </div>
      <div class="form-group" *ngIf="proceed" style="margin-left:2%;margin-top:2%">
          <button class="btn btn-primary btn-sm" (click)="proceedToPay(cartContent)">PROCEED TO PAY</button>
      </div>
  </div>
</div>

<ng-template #cartContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Your Invoice</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="print-section">
            <div class="invoiceHeader">
              <div style="float:left" class="invoiceLeft">
                  <p>{{address.street}}</p>
                  <p>{{address.selectedCity}}</p>
                  <p>{{address.selectedState}}-{{address.zip}}</p>
                  <p>{{address.selectedCountry}}</p>
                  <p>{{address.phone}}</p>
                  <p>{{mailId}}</p>
              </div>
              <div style="float:right" class="invoiceRight">
                <p>{{todayDate}}</p>
                <h6>{{address.name}}</h6>
              </div>
            </div>
            <div style="clear:both">
          
            </div>
            <hr>
            <div class="invoiceBody">
              <div class="orderedItem">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Item Description</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Total(&#x20B9;)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mobile of mobiles;let i = index">
                      <td>{{i}}</td>
                      <td>{{mobile.name}} | {{mobile.manufacturer}} | ({{mobile.internal}} GB ROM) </td>
                      <td>{{qty}}</td>
                      <td>{{mobile.price}}</td>
                      <td>{{mobile.price * mobile.qty}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
    </div>
    <div class="modal-footer">
      <form   (submit)="modal.close('Save click')">
        <button class="btn btn-warning btn-sm " [disabled]="disabled" (click)="checkoutWith()">PRINT INVOICE</button>
      </form>
    </div>
  </ng-template>